<%= link_to 'Home', root_path %>
<h1><%= @store.name %></h1>
<p><%= @store.description %></p>
<%= link_to 'Add Product', new_store_product_path(@store) %>
<%= link_to 'Edit Store', edit_store_path(@store) %>
<%= link_to 'Delete Store', store_path(@store), method: :delete %>
