<!DOCTYPE html>
<html>
<head>
  <title>EtsyClone</title>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<%= render 'layouts/header' %>
	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p> 

	<%= yield %>

</body>
</html>
